.container {
    width: 1170px !important;
}

p {
    font-size: 14px !important;
}

.purple-clr{
    color: #c06da2 !important;
}

@media(max-width:767px) {
    .container {
        width: 100% !important;
    }
}


.font11px {
    font-size: 11px !important;
}

.font12px {
    font-size: 12px !important;
}

.font14px {
    font-size: 14px !important;
}

/* Header section */

.custom-header {
    font-size: 14px;
}


.after-header:after{
    content: "\00b7";
    color: #c06da2;
    font-size: 100px;
    position: absolute;
    margin: -11px 0 0 -29px;
    z-index: 0;
}

.after-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.dimond-shap-1 {
    position: absolute;
    background: #333;
    width: 10px;
    height: 10px;
    margin-top: -22px;
    left: 28.4% !important;
    rotate: 45deg;
}

.hotel-hidden, .events-hidden, .offers-hidden, .mayaspa-hidden {
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    background: #333;
    padding: 18px;
    z-index:999;
}

.hotel-hidden:hover, .events-hidden:hover , .offers-hidden:hover , .mayaspa-hidden:hover  {
    display: block !important;
    width: 100%;
}

.hotel-hidden, .events-hidden, .offers-hidden, .mayaspa-hidden {
    display: none;
}

.hover-to-show {
    /* background: orange; */
    z-index: 999;
}

.hover-to-show:hover + .hotel-hidden , .events:hover + .events-hidden , .offers:hover + .offers-hidden , .mayaspa:hover + .mayaspa-hidden  {
    display: flex;
    z-index: 9;
}

.nav-show {
    margin-left: 240px;
    cursor: pointer;
}

/* events */
.dimond-shap-2 {
    position: absolute;
    background: #333;
    width: 10px;
    height: 10px;
    margin-top: -22px;
    left: 34.6% !important;
    rotate: 45deg;
}


/* Offers header */
.dimond-shap-3 {
    position: absolute;
    background: #333;
    width: 10px;
    height: 10px;
    margin-top: -22px;
    left: 40.9% !important;
    rotate: 45deg;
}

/* Maya Spa Header */
.dimond-shap-4 {
    position: absolute;
    background: #333;
    width: 10px;
    height: 10px;
    margin-top: -22px;
    left: 47.4% !important;
    rotate: 45deg;
}


.btn-circle {
    width: 45px;
    height: 45px;
    padding: 12px 5px;
    font-size: 11px !important;
    border-radius: 30px;
    color: #fff;
    display: flex;
    align-items: center;
}


.underline-center-all {
    line-height: 17px;
    padding-bottom: 15px !important;
    border-bottom: 2px solid silver;
    width: 137px;
    margin: 0 auto;
}

/* Header  */

.cusrom-make-reservation-icon {
    margin-left: -60px;
    font-size: 24px;
    margin-top: -2px;
    border-radius: 50px;
}

.custom-search-input {
    border: 1px solid purple;
    padding-left: 10px;
}

.custom-search-input::placeholder {
    color: black;
}

.cusrom-make-reservation-btn {
    display: block;
    -webkit-transition: color .5s ease-in;
    position: relative;
    padding: 12px 0px;
    border-radius: 50px;
    border: 1px solid purple;
    margin-left: -15px;
    z-index: 1;
    color: #fff!important;
    background-color: purple;
}

.dimond-shap-purple {
    position: absolute;
    background: purple;
    width: 10px;
    height: 10px;
    margin-top: -22px;
    left: 45.4%;
    bottom: -5px;
    rotate: 45deg;
}


select#hotel , select#rooms, select#adults, select#children {
    padding: 8px;
    border: 1px solid silver;
    color : #6d6e71;
    font-size: 14px;
    width: 100%;
}

input#checkIn, input#checkOut {
    padding: 6px;
    border: 1px solid silver;
    color : #6d6e71;
    font-size: 14px;
    width: 100%;
}


.header-container {
    transition: transform 0.7s ease-in-out;
    z-index:0 !important;
    position: absolute;
    margin-top: 100px !important;
    background: white;
    padding: 0px !important;
    left: 0px;
    right: 0;
    border-bottom: 1px solid grey;
  }
  
  .header-container.hidden {
    transform: translateY(-100%);
  }

  .dimond-shap-close {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid purple;
  }

  .custom-close-btn {
    position: absolute;
    /* background: purple; */
    /* width: 20px;
    height: 20px; */
    margin-top: -22px;
    left: 50%;
    bottom: 0px;
  }

  .desktop-header-form {
    transition: transform 0.7s ease-in-out;
    opacity: 1;
  }
  
  .desktop-header-form.hidden {
    opacity: 0;
  }